body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Inventory Product Card */
.inventory-product-card,.primary-custom-button {
  transition: all .3s ease-in-out;
}

.inventory-product-card:hover {
  box-shadow: 0 0 10px 3px hsla(0, 0%, 7%, .2);
}

/* Quantity button */
.quantity-button {
  background-color: #edeef5;
  color: #202435;
  padding: 7px;
}

.quantity-button:hover {
  background-color: #86BA09;
  color: #edeef5;

}

.product-details-image {
  transition: all .3s ease-in-out;
  border-radius: 40px;



}

.product-details-image:hover {
  transform: scale(1.2);
  cursor: pointer;


}

/* Primary Button */
.primary-custom-button {
  border: 1px solid #86BA09;
  background: transparent;
  color: #86BA09;
  font-size: 15px;
  font-weight: 500;
  border-radius: 21px;
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;

}
.danger-custom-button {
  border: 1px solid #BB2D3B;
  background: transparent;
  color: #BB2D3B;
  font-size: 15px;
  font-weight: 500;
  border-radius: 21px;
  padding: 5px 20px;
  display: inline-block;
  text-decoration: none;

}

.danger-custom-button:hover {
  background: #BB2D3B;
  color: white;


}
.primary-custom-button:hover {
  background: #86BA09;
  color: white;


}